body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#05d7df, #0d8797);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* For Chrome, Edge, Safari */
.member-list::-webkit-scrollbar {
  width: 6px;                /* Thin scrollbar */
  background-color: transparent; /* Hidden background */
}

.member-list::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hidden by default */
  border-radius: 10px;
  transition: background-color 0.3s;
}

/* Show only on hover */
.member-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Light gray thumb */
}

/* Optional: darker on hover */
.member-list:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* For Firefox */
.member-list {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Hidden by default */
}

.member-list:hover {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}


.rightpannel-chat-container::-webkit-scrollbar {
  display: none;
}
