.login-container{
    display: flex;
    flex-direction: column;
    margin: left;
    margin-left: 0px;
    margin-top: 0px;
    width: 500px;
    background: #fff;
    padding-bottom: 40PX;
    padding-top: 0px;
    border-radius: 20px;
    
}

.login-header{
    display: flex;
    /* margin: 0px 10px; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 90px;
    gap: 5px;
}

.login-text{
    color: #3c009d;
    font-size: 30px;
    font-weight: 6px;
}
.login-underlines{
    width: 60px;
    height: 5px;
    background: #3c009d;
    border-radius: 9px;
    margin-bottom: 30px;
}

.login-inputs{
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input{
    display: flex;
    align-items: center;
    margin: left;
    height: 50px;
    background: #eaeaea;
    border-radius: 700px;
    width: 400px;
    height: auto;
}

.login-input img{
    margin: 0px 30px;
    width: 25px;
    height: auto;
}

.login-input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.login-forget-password{
    padding-left: 100px;
    margin-top: 40px;
    color: #797979;
    font-size: 16px
    
}

.login-forget-password span{
    color: #4c00b4;
    cursor: pointer;
}

.login-new-user{
    
    /* padding-left: 100px;  */
    /* margin-top: 10px; */
    margin-left: 35%;
    color: #797979;
    font-size: 14px
}

.login-new-user span{
     color: #4c00b4;
    cursor: pointer;
}

.login-submit-container{
    display: flex;
    gap: 20px;
    margin: 80px auto;
}

.login-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 42px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-weight: 700px;
    cursor: pointer;

}

.login-background{
        background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    display: flex;
     justify-content: left;
    align-items: left;

    position: relative;
    border-radius: 27px ;
}
