.signup-container{

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 0px;
    margin-top: 0px;
    
    width: 650px;
    height: 100%;
    background: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    
}

.signup-header{
    display: flex;
    
    /* margin: 0px 10px; */
    flex-direction: column;
    align-items: center ;
    width: 100%;
    margin-top: 50px;
    gap: 10px;
    
}

.signup-text{
    color: #3c009d;
    font-size: 30px;
    font-weight: 6px;
    
}
.signup-underline{
    width: 61px;
    height: 5px;
    background: #3c009d;
    border-radius: 9px;
   margin-bottom: 20px;
}

.signup-inputs{
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-input{
    display: flex;
    align-items: center;
    margin: left;
    height: 50px;
    background: #eaeaea;
    border-radius: 700px;
    width: 400px;
    height: auto;
}


.signup-input img{
    margin: 0px 20px;
    width: 25px;
    height: auto;
}

.signup-input input{
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.signup-forget-password{
    margin-left: 280px;

    margin-top: 16px;
    color: #797979;
    font-size: 15px
}

.signup-forget-password span{
    color: #4c00b4;
    cursor: pointer;
}

.signup-submit-container{
    display: flex;
    gap: 19px;
    margin: 72px auto;
}

.signup-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 40px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-weight: 700px;
    cursor: pointer;
} 

.signup-background{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    width: 100vw;     
    height: 100vh; 

        
   

    display: flex;
    justify-content: right;
    align-items: right;

    position: relative;
    border-radius: 27px ;
    
}


.signup-or-container{
    display: flex;
    justify-content: center;
    
    
}
.signup-texts{
    font-size: 12px; 
}

.signup-google-container{
    display: flex;
    flex-direction: row ;
    gap: 130px;   
    margin-left: 220px;
    margin-top: 0px;
}   

.signup-google-container img{
        /* margin: 0px 20px; */

    width: 40px;
    height: 90%;

}

.signup-error-message{
    color: red;
    font-size: 12px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 500;
}